*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}

.page1{
    width: 100%;
    height: 100%;
}

.fullscreen{
    height: 100%;
    width: 100%;
    background-color: #eee;
    position: absolute;
    top: -100%;
    z-index: 99;
    display: none;
    background-color: #DADADA;
    opacity: 0.7;
    transition: all ease 1s;
}

@media (max-width:600px) {
    .fullscreen {
        display: initial;
    }
}

.fullscreen ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 15vmax;
    margin-left: 3vmax;
    z-index: 99;

}

.fullscreen li{
    font-size: 3vmax;
    list-style-type: none;
    text-align: center;

}

.fullscreen li a{
    font-family: 'Lato', sans-serif;
color: black;
    text-decoration: none;
}

.fullscreen li a:hover{
    transition: all ease 0.5s;
    color: red;
}

.nav1{
    width: 100%;
    height: 14%;
    display: flex;
    position: fixed;
    background-color: green;
}

.n1{
    width: 50%;
    height: 102%;
    background-color: #191919;
}

.n1 h1 img{
    width: 15%;
    height: 25%;
margin-top: 1.3vmax;
margin-left: 4vmax;
}

.nav1 h1 ul{
    display: flex;
    font-size: 1vmax;
    /* text-align: center; */
    margin-top: -3vmax;
    margin-left: 12vmax;
    font-family: 'Lato', sans-serif;
    justify-content: space-evenly;
}

.nav1 h1 ul li{
    list-style-type: none;
    /* margin: 1vmax; */
}

.n1 h1 ul i{
display: none;
}

.n1 li:hover{
    color: red;
    cursor: pointer;
}

.n1 h1{
    color: white;
}

.n2{
    width: 50%;
    height: 102%;
    display: flex;
    background-color: #676467;
}

.logoo{
    width: 70%;
    height: 100%;
/* background-color: blue; */
}

.logoo1{
    width: 30%;
    height: 100%;
/* background-color: brown; */
}

.n2 ul{
    display: flex;
    font-size: 1.2vmax;
    padding: 3vmax;
    font-family: 'Lato', sans-serif;
    
}

.logoo li:hover{
    color: red;
    cursor: pointer;
}

.n2 ul li{

list-style-type: none;
color: white;
}

.n4 li:hover{
        color: red;
        cursor: pointer;
    }


.n2 h1 img{
    width: 100%;
    height: 60%;
    margin-top: -4vmax;
}

.nav2{
    width: 100%;
    height: 8%;
    display: flex;
    position: fixed;
    margin-top: 6.7vmax;
    /* background-color: green; */
}


.n3{
    width: 24%;
    height: 102%;
    background-color: black;
}

.n3 h1{
    color: white;
    font-size: 1.2vmax;
    text-align: center;
    margin-top: 0.5vmax;
    font-family: 'Lato', sans-serif;

}

.n4{
    width: 76%;
    height: 100%;
    background-color: rgb(79, 75, 75);
}

.n4 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.n4 ul li{
margin-top: 1vmax;
    list-style-type: none;
    color: white;
    font-family: 'Lato', sans-serif;
/* color: black; */
    text-decoration: none;
    font-size: 1.1vmax;
    font-family: 'Lato', sans-serif;

}

.n4 ul li a{
    font-family: 'Lato', sans-serif;
color: white;
    text-decoration: none;
}

.n4 ul li a:hover{
    transition: all ease 0.5s;
    color: red;
}

/* --------------------------nav2-end------------------------- */

.tharpic{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1633867179970-c54688bcfa33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

/* --------------page1-end--------------------------------- */

.page2{
    width: 100%;
    height: 77%;
    background-color: #191919;
}

.page2 h2{
    font-size: 1.5vmax;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
padding: 5vmax;
margin-left: 2vmax;
color: white;
}

.page2 h2 span{
    color: red;

}

.p22{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: red; */
}

.l-block{
    width: 40%;
    height: 80%;
    /* background-color: blanchedalmond;     */
}

.l-block h1{
    font-family: 'Lato', sans-serif;
font-size: 3vmax;
color: #9F9B99;
}

.l-block p{
    font-size: 1.1vmax;
    color: white;
    margin-top: 1vmax;
    font-family: 'Diphylleia', serif;
}

span button{
    padding: 1vmax 2vmax;
    border-radius: 2vmax 0.2vmax;
    margin-top: 2vmax;
    border: none;
    background-color: #B0ABA7;
}

span button:hover{
    cursor: pointer;
    color:#dccdc3;
}
 
.btn{
    padding: 1vmax 2vmax;
    border-radius: 2vmax 0.1vmax;
    margin-top: 2vmax;
    background-color: black;
    border: 1px solid white;

    color: white;
}

.r-block{
    width: 30%;
    height: 100%;
    margin-top: -6vmax;
    margin-left: -5vmax;
    /* background-color: aqua; */
    background-position: center;
    background-size: cover;
    background-image: url(landing-page_2.webp);
}



.page3{
    width: 100%;
    height: 110%;
    background-color: #212121;
}

.sliders{
    height: 90%;
    width: 110%;
    /* background-color: violet; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.sliders::-webkit-scrollbar{
    display: none;
}

.sliders span{
    color: red;
    font-size: 2vmax;
}

.sliders h1{
    font-family: 'Lato', sans-serif;
font-size: 1.5vmax;
margin-top: 2vmax;
margin-left: 2vmax;
color: white;
text-align: start;
}

.slider{
    height: 80%;
    width: 100%;
    margin-top: 6vmax;
    margin: 2vmax;
    display: inline-block;
    /* overflow: hidden; */
   
}

.slider h1{
     font-size: 2vmax;
}

.slider img{
    height: 85%;
    width: 100%;
    object-fit: cover;
}

/* -----------------------page-3 end----------------------- */

.page4{
    width: 100%;
    height: 100%;
    background-color: #333333;

}

.page4 h1{
    padding: 3vmax;
    margin-left: 2vmax;
    /* margin-top: -10vmax; */
    font-family: 'Lato', sans-serif;
font-size: 1.5vmax;
    color: white;
}

.p-33{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-b{
    width: 50%;
    height: 120%;
    margin-top: -4vmax;  
    margin-left: -6vmax;
    /* background-color: violet; */
}

.rows{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(110, 110, 66); */
}

.r-1{
    width: 40%;
    height: 80%;
    /* background-color: tomato; */
}
.r-2{
    width: 40%;
    height: 80%;
    /* background-color: red; */
}
.r-3{
    width: 40%;
    height: 80%;
    /* background-color: brown; */
}


.pic-b{
    width: 30%;
    height: 70%;
    overflow: hidden;
    margin-left: -6vmax;
    /* background-color: blue; */
    margin-top: 5vmax;
    
}

.pic-b img{
    /* margin-top: 5vmax; */
    width: 140%;
    margin-left: -5vmax;
    height: 100%;

}


.page5{
    width: 100%;
    height: 20%;
    background-color: #333333;
    /* background-color: red; */
}

.page5 p{
    margin-left: 6.5vmax;
    color: white;
}

.page5 button{
    margin-left: 6.5vmax;
padding: 1vmax 1.5vmax;
background-color: #B0ABA7;
border-radius: 1vmax 2vmax;
}

.page5 span button{
margin-left: 2.5vmax;
}

.page6{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #000000 ;
}

.left1{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: red; */
}

.head{
    width: 70%;
    height: 10%;
    margin-top: 3vmax;
    text-align: start;
    /* background-color: whitesmoke; */
}

.head h1{
    font-size: 1.5vmax;
    font-family: 'Lato', sans-serif;
color: white;
}

.para{
    width: 100%;
    height: 50%;
    margin-top: -2vmax;
    /* background-color: yellow; */
    font-family: 'Lato', sans-serif;

}

.para h2{
    margin-top: 1.2vmax;
    font-size: 2.5vmax;
    color: white;
}

.btns{
    width: 100%;
    height: 10%;
    margin-top: -2vmax;
    /* background-color: aqua; */
}

.btns button{
    padding: 1vmax 1vmax;
    border-radius: 1vmax 2vmax;
    background-color: #9B9896;
}




.right1{
    width: 45%;
    height: 90%;
    margin-top: 3vmax;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-color: blueviolet;
    background-image: url(mahindra-thar-red-rage\ p6.webp);

}

.page7{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #191919;
}

.heading{
    width: 20%;
    height: 7%;
    margin-top: 2vmax;
    margin-left: 2.5vmax;
    /* background-color: red; */
}

.elem{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}

.elem1{
    width: 35%;
    height: 90%;
    margin-top: 2vmax;
    background-image: url(thar-river-drive-image-mahindra-auto.webp);
    background-color: white;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.elem2{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: burlywood; */
}

.tops{
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellow; */
}

.picture1{
    width: 48%;
    height: 100%;
    background-image: url(mahindra-thar-snow-drive.webp);
    background-color: tomato;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.picture2{
    width: 48%;
    height: 100%;
    background-color: tomato;
    background-image: url(mahindra-thar-right-front-image.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.bottom{
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellow; */
}

.picture3{
    width: 48%;
    height: 100%;
    background-color: tomato;
    background-image: url(galaxy-grey-mahindra-thar.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.picture4{
    width: 48%;
    height: 100%;
    background-color: tomato;
    background-image: url(mahindra-thar-outdoor-image.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.buttonn{
    width: 10%;
    height: 10%;
    margin-left: 40vmax;
    display: flex;
align-items: center;   
 /* background-color: yellowgreen; */

}

.div{
    width: 30%;
    margin-left: 30vmax;
    height: 0.5%;
    background-color: red;
}

button{
    padding: 1vmax 2.5vmax;
    border-radius: 1vmax 2vmax;
    /* align-items: center; */
}

.page8{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.heads{
width: 100%;
height: 10%;
/* background-color: red; */
}

.elemss{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lato', sans-serif;

    /* margin-top: 2vmax; */
    /* background-color: blue; */
    }

    .heads{
        font-size: 0.8vmax;
        color: white;
        margin-left: 2vmax;
        margin-top: 2vmax;
        font-family: 'Lato', sans-serif;

    }

    .e1{
        width: 30%;
        height: 90%;
      
        /* background-color: fuchsia; */
    }

    .e1 img{
        width: 100%;
        height: 80%;

    }

    .e2{
        width: 30%;
        height: 90%;
        /* background-color: fuchsia; */
        
    }

    
    .e2 img{
        width: 100%;
        height: 80%;

    }
    .e3{
        width: 30%;
        height: 90%;
        /* background-color: fuchsia; */
       
    }

    .e3 img{
        width: 100%;
        height: 80%;

    }

    .page9{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }

    .top{
        width: 20%;
        height: 10%;
        font-size: 0.8vmax;
        color: white;
        /* margin-left: 1vmax; */
        margin-top: 2vmax;
        /* background-color: rgb(190, 122, 122); */
        font-family: 'Lato', sans-serif;

    }

    .products{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Lato', sans-serif;
    
        /* margin-top: 2vmax; */
        /* background-color: blue; */
        }

        .bg{
            width: 30%;
            height: 90%;
            /* background-color: fuchsia; */
           
        }
        
        .cp{
            width: 30%;
            height: 90%;
            /* background-color: fuchsia; */
           
        }
        
        .ts{
            width: 30%;
            height: 90%;
            /* background-color: fuchsia; */
           
        }
        

        .bg img{
            width: 100%;
            height: 80%;
    
        }
        .cp img{
            width: 100%;
            height: 80%;
    
        }
        .ts img{
            width: 100%;
            height: 80%;
    
        }

        .page10{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            background-color: #000000;
        }


        .header{
            width: 20%;
            height: 10%;
            font-size: 0.8vmax;
            color: white;
            /* margin-left: 1vmax; */
            margin-top: 2vmax;
            /* background-color: rgb(190, 122, 122); */
            font-family: 'Lato', sans-serif;
    
        }

        .newmodel{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Lato', sans-serif;
                    /* background-color: blue; */
            }

            .m1{
                width: 30%;
                height: 90%;
                /* background-color: fuchsia; */
               
            }
            .m2{
                width: 30%;
                height: 90%;
                /* background-color: fuchsia; */
               
            }
            .m3{
                width: 30%;
                height: 90%;
                /* background-color: fuchsia; */
               
            }

            .m1 img{
                width: 100%;
                height: 85%;
        
            }
            .m2 img{
                width: 100%;
                height: 85%;
        
            }
            .m3 img{
                width: 100%;
                height: 85%;
        
            }

            .page11{
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: #000000;
                font-family: 'Lato', sans-serif;
/* background-color: red; */
            }

            .lobo{
                width: 20%;
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-top: 1vmax;
                /* background-color: aqua; */
            }

            .lobo img{
                margin-top: -5vmax;
              width: 100%;
            }

            .icons{
                font-size: 2vmax;
                width: 100%;
                margin-top: -8vmax;
                margin-left: 0.5vmax;
                height: 20%;
                color: white;
                display: flex;
                flex-direction: row;
                /* background-color: yellow; */
                justify-content: space-evenly;
            }

            .icons i:hover{
cursor: pointer;
color: blue;
            }

            .auto{
                width: 15%;
                margin-top: 3vmax;
                height: 90%;
                /* background-color: rgb(115, 157, 241); */
            }

            .auto h1{
                font-size: 1.8vmax;
                margin-top: 2.1vmax;
                color: white;
            }

            .auto ul{
                color: white;
            }

            .auto ul li{
                list-style-type: none;
                font-weight: 100;
               margin: 1vmax;
            }

            .auto ul li:hover{
                cursor: pointer;
                color: red;
            }


            .media{
                width: 15%;
                height: 20%;
                margin-top: 5vmax;
                /* background-color: aqua; */
            }

            .media h1{
                font-size: 1.8vmax;
                color: white;
            }

            .vehicle{
                width: 15%;
                height: 20%;
                margin-top: 5vmax;
                /* background-color: aqua; */
            }

            .vehicle h1{
                font-size: 1.5vmax;
                color: white;
            }

            .trend{
                width: 15%;
                height: 30%;
                margin-top: 5vmax;
                /* background-color: aqua; */
            }

            
            .trend h1{
                font-size: 1.5vmax;
                color: white;
            }

            .page12{
                width: 100%;
                height: 10%;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: #3C3C3C;
                font-family: 'Lato', sans-serif;
                /* background-color: red; */
            }

                .ads{
                    width: 30%;
                    height: 30%;
                    /* background-color: saddlebrown; */
                }

                .end{
                    width: 50%;
                    height: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    /* background-color: steelblue; */
                }

                .icn{
                    width: 30%;
                    height: 100%;
                    /* background-color: blue; */
                }
              

                .icn h1{
                    font-size: 1.5vmax;
                }

                .icn h1 img{
                    width: 10%;
                    height: 10%;
                }

                .site{
                    width: 60%;
                    height: 100%;
                    /* background-color: saddlebrown; */
                }

                .site li{
                    color: white;
                    list-style-type: none;
                    display: inline-block;
                    margin: 0.5vmax;
                }


                /* ==================responsive start ========= */


               @media (max-width:600px) {
                .page2{
                    width: 100%;
                    height: 77%;
                    background-color: #191919;
                }
                
                .page2 h2{
                    font-size: 2vmax;
                    font-weight: 100;
                    font-family: 'Lato', sans-serif;
                padding: 5vmax;
                margin-left: 2vmax;
                color: white;
                }
                
                .page2 h2 span{
                    color: red;
                
                }
                
                .p22{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    /* background-color: red; */
                }
                
                .l-block{
                    width: 80%;
                    height: 80%;
                    /* background-color: blanchedalmond;     */
                }
                
                .l-block h1{
                    font-family: 'Lato', sans-serif;
                font-size: 4vmax;
                color: #9F9B99;
                }
                
                .l-block p{
                    font-size: 1.3vmax;
                    color: white;
                    margin-top: 1vmax;
                    font-family: 'Diphylleia', serif;
                }
                
                span button{
                    padding: 1vmax 2vmax;
                    border-radius: 2vmax 0.2vmax;
                    margin-top: 2vmax;
                    border: none;
                    background-color: #B0ABA7;
                }
                
                span button:hover{
                    cursor: pointer;
                    color:#dccdc3;
                }
                 
                .btn{
                    padding: 1vmax 2vmax;
                    border-radius: 2vmax 0.1vmax;
                    margin-top: 2vmax;
                    background-color: black;
                    border: 1px solid white;
                
                    color: white;
                }
                
                .r-block{
                    width: 60%;
                    height: 100%;
                    margin-top: -4vmax;
                    margin-left: -5vmax;
                    /* background-color: aqua; */
                    background-position: center;
                    background-size: cover;
                    background-image: url(landing-page_2.webp);
                }
                
               }

                @media (max-width:600px) {
                
.page4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333333;

}

.page4 h1{
    padding: 3vmax;
    margin-left: 2vmax;
    font-family: 'Lato', sans-serif;
font-size: 2vmax;
    color: white;
}

.p-33{
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 20vmax;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-b{
    width: 50%;
    height: 120%;
    margin-top: -4vmax;  
    margin-left: -6vmax;
    /* background-color: violet; */
}

.text-b h1 i{
display: none;
}

.rows{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */

}

.r-1{
    width: 70%;
    height: 100%;
    /* background-color: tomato; */
}

.r-2{
    width: 70%;
    height: 100%;
    /* background-color: red; */
}
.r-3{
    width: 70%;
    height: 100%;
    /* background-color: brown; */
}


.pic-b{
    width: 30%;
    height: 100%;
    overflow: hidden;
    margin-left: -2vmax;
    margin-top: 5vmax;
    display: none;}

  

.pic-b img{
    /* margin-top: 5vmax; */
    width: 140%;
    margin-left: -5vmax;
    height: 100%;

}
}


@media (max-width:600px) {
    .page6{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #000000 ;
    }
    .left1{
        width: 60%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* background-color: red; */
    }
    
    .head{
        width: 70%;
        height: 10%;
        margin-top: 3vmax;
        text-align: start;
        /* background-color: whitesmoke; */
    }
    
    .head h1{
        font-size: 1.5vmax;
        font-family: 'Lato', sans-serif;
    color: white;
    }
    
    .para{
        width: 100%;
        height: 50%;
        margin-top: -2vmax;
        /* background-color: yellow; */
        font-family: 'Lato', sans-serif;
    
    }
    
    .para h2{
        margin-top: 1.2vmax;
        font-size: 2.5vmax;
        color: white;
    }
    
    .btns{
        width: 100%;
        height: 10%;
        margin-top: -2vmax;
        /* background-color: aqua; */
    }
    
    .btns button{
        padding: 1vmax 1vmax;
        border-radius: 1vmax 2vmax;
        background-color: #9B9896;
    }
    
    
    
    
    .right1{
        width: 75%;
        height: 90%;
        margin-top: 3vmax;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-color: blueviolet;
        background-image: url(mahindra-thar-red-rage\ p6.webp);
    
    }
}

@media (max-width:600px) {
    .page7{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #191919;
    }
    
    .heading{
        width: 20%;
        height: 7%;
        margin-top: 2vmax;
        margin-left: 2.5vmax;
        /* background-color: red; */
    }

    .heading h1{
        font-size: 3.1vmax;
    }
    
    .elem{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-around;
        /* background-color: green; */
    }
    
    .elem1{
        width: 80%;
        height: 80%;
        margin-top: 2vmax;
        background-image: url(thar-river-drive-image-mahindra-auto.webp);
        background-color: white;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .elem2{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: burlywood; */
    }
    
    .tops{
        width: 100%;
        height: 42%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: yellow; */
    }
    
    .picture1{
        width: 48%;
        height: 100%;
        background-image: url(mahindra-thar-snow-drive.webp);
        background-color: tomato;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .picture2{
        width: 48%;
        height: 100%;
        background-color: tomato;
        background-image: url(mahindra-thar-right-front-image.webp);
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    
    .bottom{
        width: 100%;
        height: 42%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: yellow; */
    }
    
    .picture3{
        width: 48%;
        height: 100%;
        background-color: tomato;
        background-image: url(galaxy-grey-mahindra-thar.webp);
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .picture4{
        width: 48%;
        height: 100%;
        background-color: tomato;
        background-image: url(mahindra-thar-outdoor-image.webp);
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    
    .buttonn{
        width: 10%;
        height: 10%;
        margin-left: 40vmax;
        display: flex;
    align-items: center;   
     /* background-color: yellowgreen; */
    
    }
    
    .div{
        width: 30%;
        margin-left: 30vmax;
        height: 0.5%;
        background-color: red;
    }
    
    button{
        padding: 1.5vmax 5vmax;
        font-size: 1.5vmax;
        border-radius: 1vmax 2vmax;
        /* align-items: center; */
    }
    
}

@media (max-width:600px) {
    .page8{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }
    
    .heads{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    }
    
    .elemss{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Lato', sans-serif;
    
        /* margin-top: 2vmax; */
        /* background-color: blue; */
        }
    
        .heads{
            font-size: 0.8vmax;
            color: white;
            margin-left: 2vmax;
            margin-top: 2vmax;
            font-family: 'Lato', sans-serif;
    
        }
    
        .e1{
            width: 28%;
            height: 70%;
          
            /* background-color: fuchsia; */
        }
    
        .e1 img{
            width: 100%;
            height: 80%;
    
        }
    
        .e2{
            width: 28%;
            height: 70%;
            /* background-color: fuchsia; */
            
        }
    
        
        .e2 img{
            width: 100%;
            height: 80%;
    
        }
        .e3{
            width: 28%;
            height: 70%;
            /* background-color: fuchsia; */
           
        }
    
        .e3 img{
            width: 100%;
            height: 80%;
    
        }
}

@media (max-width:600px) {
    .page9{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }

    .top{
        width: 20%;
        height: 10%;
        font-size: 0.8vmax;
        color: white;
        /* margin-left: 1vmax; */
        margin-top: 2vmax;
        /* background-color: rgb(190, 122, 122); */
        font-family: 'Lato', sans-serif;

    }

    .products{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Lato', sans-serif;
    
        /* margin-top: 2vmax; */
        /* background-color: blue; */
        }

        .bg{
            width: 28%;
            height: 70%;
            /* background-color: fuchsia; */
           
        }
        
        .cp{
            width: 28%;
            height: 70%;
            /* background-color: fuchsia; */
           
        }
        
        .ts{
            width: 32%;
            height: 70%;
            /* background-color: fuchsia; */
           
        }
        

        .bg img{
            width: 100%;
            height: 80%;
    
        }
        .cp img{
            width: 100%;
            height: 80%;
    
        }
        .ts img{
            width: 100%;
            height: 80%;
    
        }
}

@media (max-width:600px) {
    .m1{
        width: 28%;
        height: 70%;
        /* background-color: fuchsia; */
       
    }
    .m2{
        width: 28%;
        height: 70%;
        /* background-color: fuchsia; */
       
    }
    .m3{
        width: 28%;
        height: 70%;
        /* background-color: fuchsia; */
       
    }
}

@media (max-width:600px) {
    .page11{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #000000;
        font-family: 'Lato', sans-serif;
/* background-color: red; */
    }

    .lobo{
        width: 20%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1vmax;
        /* background-color: aqua; */
    }

    .lobo img{
        margin-top: -5vmax;
      width: 100%;
    }

    .lobo h2{
        font-size: 2.5vmax;
    }

    .icons{
        font-size: 2vmax;
        width: 100%;
        margin-top: -8vmax;
        margin-left: 0.5vmax;
        height: 20%;
        color: white;
        display: flex;
        flex-direction: row;
        /* background-color: yellow; */
        justify-content: space-evenly;
    }

    .icons i:hover{
cursor: pointer;
color: blue;
    }

    .auto{
        width: 15%;
        margin-top: 3vmax;
        height: 90%;
        /* background-color: rgb(115, 157, 241); */
    }

    .auto h1{
        font-size: 1.8vmax;
        margin-top: 2.1vmax;
        color: white;
    }

    .auto ul{
        color: white;
    }

    .auto ul li{
        list-style-type: none;
        font-weight: 100;
       margin: 1vmax;
    }

    .auto ul li:hover{
        cursor: pointer;
        color: red;
    }


    .media{
        width: 15%;
        height: 20%;
        margin-top: 5vmax;
        /* background-color: aqua; */
    }

    .media h1{
        font-size: 1.8vmax;
        color: white;
    }

    .vehicle{
        width: 15%;
        height: 20%;
        margin-top: 5vmax;
        /* background-color: aqua; */
    }

    .vehicle h1{
        font-size: 1.5vmax;
        color: white;
    }

    .trend{
        width: 15%;
        height: 30%;
        margin-top: 5vmax;
        /* background-color: aqua; */
    }

    
    .trend h1{
        font-size: 1.5vmax;
        color: white;
    }

}

@media (max-width:600px) {
    .page12{
        width: 100%;
        height: 10%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #3C3C3C;
        font-family: 'Lato', sans-serif;
        /* background-color: red; */
    }

        .ads{
            width: 30%;
            height: 30%;
            /* background-color: saddlebrown; */
        }

        .end{
            width: 60%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* background-color: steelblue; */
        }

        .icn{
            width: 30%;
            height: 80%;
            /* background-color: blue; */
        }
      

        .icn h1{
            font-size: 1.5vmax;
        }

        .icn h1 i{
            /* display: none; */
        }

        .icn h1 img{
            width: 10%;
            height: 10%;
        }

        .site{
            width: 60%;
            height: 100%;
            /* background-color: saddlebrown; */
        }

        .site li{
            color: white;
            font-size: 1vmax;
            list-style-type: none;
            /* display: inline-block; */
            /* margin: 0.5vmax; */
            margin-top: -2vmax;
        }

}

@media (max-width:600px) {
   
    .page3{
        width: 100%;
        height: 70%;
        background-color: #212121;
    }
   
    .sliders{
        height: 70%;
        width: 95%;
        align-items: center;
        /* background-color: violet; */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .sliders h1{
        font-size: 2vmax;
    }

}

@media (max-width:600px) {
    .nav1{
        width: 100%;
        height: 10%;
        display: flex;
        position: fixed;
        background-color: green;
    }
    
    .n1{
        width: 100%;
        height: 102%;
        background-color: #191919;
    }
    
    .n1 h1 img{
        width: 15%;
        height: 25%;
    margin-top: 1.3vmax;
    margin-left: 4vmax;
    }
    
    .nav1 h1 ul{
        display: flex;
        font-size: 1vmax;
        /* text-align: center; */
        margin-top: -3vmax;
        margin-left: 12vmax;
        font-family: 'Lato', sans-serif;
        justify-content: space-evenly;
    }
    
    .nav1 h1 ul li{
        list-style-type: none;
        display: none;
        /* margin: 1vmax; */
    }
    
    .n1 h1 ul i{
    display: initial;
    font-size: 3vmax;
    margin-top: -3vmax;
    margin-left: 55vmax;
    }
    
    .n1 li:hover{
        color: red;
        cursor: pointer;
    }
    
    .n1 h1{
        color: white;
    }
    
    .n2{
        width: 50%;
        height: 102%;
        display: none;
        /* background-color: #676467; */
    }

    .n3{
        display: none;
    }

    .n4{
        display: none;
    }
    
}

@media (max-width:600px) {
    
.tharpic{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1633867179970-c54688bcfa33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* object-fit: cover; */

}
}